<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork865-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [1]:
%load_ext sql

In [2]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [3]:
%sql sqlite:///my_data1.db

'Connected: @my_data1.db'

In [4]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
columns = df.columns
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

999

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [5]:
# SQL query
res = cur.execute(
    "SELECT DISTINCT Launch_Site FROM SPACEXTBL;"
)
print(*[x[0] for x in res.fetchall()], sep='\n')

CCAFS LC-40
VAFB SLC-4E
KSC LC-39A
CCAFS SLC-40
None

In [6]:
# pandas equivalent
print(*df.Launch_Site.unique().tolist(), sep='\n')

CCAFS LC-40
VAFB SLC-4E
KSC LC-39A
CCAFS SLC-40
nan


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [7]:
# SQL query
res = cur.execute(
    "SELECT * FROM SPACEXTBL WHERE Launch_Site LIKE 'CCA%' LIMIT 5;"
)
for row in res:
    print(row)

('06/04/2010', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0.0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)')
('12/08/2010', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0.0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)')
('22/05/2012', '7:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525.0, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt')
('10/08/2012', '0:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500.0, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')
('03/01/2013', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677.0, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')

In [8]:
# pandas equivalent
df[df.Launch_Site.str.startswith('CCA', na = False)].head()

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing_Outcome
0,06/04/2010,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0.0,LEO,SpaceX,Success,Failure (parachute)
1,12/08/2010,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of...",0.0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)
2,22/05/2012,7:44:00,F9 v1.0 B0005,CCAFS LC-40,Dragon demo flight C2,525.0,LEO (ISS),NASA (COTS),Success,No attempt
3,10/08/2012,0:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500.0,LEO (ISS),NASA (CRS),Success,No attempt
4,03/01/2013,15:10:00,F9 v1.0 B0007,CCAFS LC-40,SpaceX CRS-2,677.0,LEO (ISS),NASA (CRS),Success,No attempt

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [9]:
# SQL query
res = cur.execute(
    "SELECT SUM(PAYLOAD_MASS__KG_) FROM SPACEXTBL WHERE Customer LIKE '%NASA%';"
)
for row in res:
    print(row[0])

107010.0

In [10]:
# pandas equivalent
df[df.Customer.str.contains('NASA', na = False)]['PAYLOAD_MASS__KG_'].sum()

107010.0

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [11]:
# SQL query
res = cur.execute(
    "SELECT AVG(PAYLOAD_MASS__KG_) FROM SPACEXTBL WHERE Booster_Version LIKE 'F9 v1.1%';"
)
for row in res:
    print(row[0])

2534.6666666666665

In [12]:
# pandas equivalent
df[df.Booster_Version.str.startswith('F9 v1.1', na = False)]['PAYLOAD_MASS__KG_'].mean()

2534.6666666666665

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [13]:
# SQL query
res = cur.execute(
    'SELECT Date FROM SPACEXTBL WHERE Landing_Outcome = "Success (ground pad)" LIMIT 1;'
)
for row in res:
    print(row[0])

22/12/2015

In [14]:
# pandas equivalent
print(*df[df.Landing_Outcome == 'Success (ground pad)']['Date'].head(1))

22/12/2015

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [15]:
# SQL query
res = cur.execute(
    '''SELECT DISTINCT Booster_Version FROM SPACEXTBL WHERE 
    Landing_Outcome = 'Success (drone ship)' AND 
    PAYLOAD_MASS__KG_ BETWEEN 4000 AND 6000;'''
)
for row in res:
    print(row[0])

F9 FT B1022
F9 FT B1026
F9 FT  B1021.2
F9 FT  B1031.2

In [16]:
# Pandas equivalent
temp = df[(df.Landing_Outcome == 'Success (drone ship)') & df.PAYLOAD_MASS__KG_.between(4000,6000)] 
print(*temp['Booster_Version'].unique(), sep = '\n')

F9 FT B1022
F9 FT B1026
F9 FT  B1021.2
F9 FT  B1031.2

### Task 7




##### List the total number of successful and failure mission outcomes

In [17]:
# List all outcomes
res = cur.execute(
    "SELECT DISTINCT Mission_Outcome FROM SPACEXTBL;"
)
for row in res:
    print(row[0])

Success
Failure (in flight)
Success (payload status unclear)
Success
None

In [18]:
# All successful outcomes
res = cur.execute(
    "SELECT COUNT(Date) FROM SPACEXTBL WHERE Mission_Outcome LIKE '%Success%';"
)
for row in res:
    print(row[0])
    
# All non-successful outcomes
res = cur.execute(
    "SELECT COUNT(Date) FROM SPACEXTBL WHERE Mission_Outcome NOT LIKE '%Success%';"
)
for row in res:
    print(row[0])

100
1

In [19]:
# Pandas equivalent
print("Successful:", df[df.Mission_Outcome.str.startswith('Success', na = False)].shape[0])
print("Failure:", df[~df.Mission_Outcome.str.startswith('Success', na = True)].shape[0])

Successful: 100
Failure: 1

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [20]:
# SQL query
res = cur.execute(
    '''SELECT DISTINCT Booster_Version FROM SPACEXTBL 
    WHERE PAYLOAD_MASS__KG_ = (SELECT MAX(PAYLOAD_MASS__KG_) FROM SPACEXTBL);'''
)
for row in res:
    print(row[0])

F9 B5 B1048.4
F9 B5 B1049.4
F9 B5 B1051.3
F9 B5 B1056.4
F9 B5 B1048.5
F9 B5 B1051.4
F9 B5 B1049.5
F9 B5 B1060.2
F9 B5 B1058.3
F9 B5 B1051.6
F9 B5 B1060.3
F9 B5 B1049.7

In [21]:
# pandas alternative
max_mass = df['PAYLOAD_MASS__KG_'].max()
print(*df[df['PAYLOAD_MASS__KG_'] == max_mass]['Booster_Version'].unique().tolist(), sep = '\n')

F9 B5 B1048.4
F9 B5 B1049.4
F9 B5 B1051.3
F9 B5 B1056.4
F9 B5 B1048.5
F9 B5 B1051.4
F9 B5 B1049.5
F9 B5 B1060.2
F9 B5 B1058.3
F9 B5 B1051.6
F9 B5 B1060.3
F9 B5 B1049.7

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 4, 2) as month to get the months and substr(Date,7,4)='2015' for year.**

In [22]:
res = cur.execute(
    '''SELECT substr(Date, 4, 2), Landing_Outcome, Booster_Version, Launch_Site FROM SPACEXTBL WHERE 
    Landing_Outcome = 'Failure (drone ship)' AND  substr(Date,7,4)='2015';'''
)
for row in res:
    print(row)

('10', 'Failure (drone ship)', 'F9 v1.1 B1012', 'CCAFS LC-40')
('04', 'Failure (drone ship)', 'F9 v1.1 B1015', 'CCAFS LC-40')

### Task 10




##### Rank the  count of  successful landing_outcomes between the date 04-06-2010 and 20-03-2017 in descending order.

In [23]:
res = cur.execute(
    '''SELECT Landing_Outcome AS Outcome, COUNT(Landing_Outcome) AS Count FROM SPACEXTBL 
    WHERE (Date BETWEEN '04-06-2010' AND '20-03-2017') AND (Outcome LIKE 'Success%') 
    GROUP BY Landing_Outcome ORDER BY Count DESC;'''
)
for row in res:
    print(row)

('Success', 20)
('Success (drone ship)', 8)
('Success (ground pad)', 7)

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>